body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* Straight off the Paris Review website! */
    font-family: "garamond-premier-pro", Georgia, Cambria, Times New Roman, Times, serif;
}

#heading {
    /*background-color: blue;*/
    height: 20vh;
}

#main {
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 100%;
}

#viz {
    /*background-color: green;*/
    flex: 2 0 0;
    overflow: scroll;
    height: 100%;
}

#viz div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#viz div p {
    flex: 1 0 25%;
}

#viz p:hover {
    font-weight: bolder;
    color: #5cb89a; /* Paris Review color scheme :) */
    cursor: pointer;
}

#viz svg {
    width: 100%;
    height: 100%;
}

#viz svg text {
    font-size: 10px;
}

#viz svg text:hover {
    font-weight: bolder;
    fill: #5cb89a; /* Paris Review color scheme :) */
    cursor: pointer;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

#sidebar {
    /*background-color: red;*/
    flex: 1 0 0;
    max-height: 1000px;
    overflow: scroll;
}

.hyper {
    color: #5cb89a; /* Paris Review color scheme :) */
    cursor: pointer;
}

.hyper:hover {
    font-weight:bolder;
}

#focus-image {
    max-height: 300px;
    max-width: 300px;
}

#other-image {
    float:right;
    max-height: 100px;
    max-width: 100px;
}

h1 {
    font-weight: normal;
}

.links line.focus-influencee {
    stroke: red;
}

.links line.focus-influencer {
    stroke: blue;
}

.focus text{
    font-weight: bolder;
    font-variant: small-caps;
}

#viz svg .current-focus text {
    font-size: 2em;
}

.nodes g {
    text-anchor: middle;
}
