body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* Adapted from the Paris Review website! */
    font-family: "garamond-premier-pro", Georgia, Cambria, Times New Roman, Times, serif;
}

#heading {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8),rgba(255,255,255,1)), url('paris.png');
    min-height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#heading-center{
    width: 50%;
}

#main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

#viz {
    /*background-color: green;*/
    flex: 2 0 0;
    overflow: scroll;
    height: 100%;
}

#viz div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#viz div p {
    flex: 1 0 25%;
}

#viz p:hover {
    font-weight: bolder;
    color: #5cb89a; /* Paris Review color scheme :) */
    cursor: pointer;
}

#viz svg {
    width: 100%;
    height: 100%;
}

#viz svg text {
    font-size: 10px;
}

#viz svg text:hover {
    font-weight: bolder;
    fill: #5cb89a; /* Paris Review color scheme :) */
    cursor: pointer;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.5;
  stroke-width: 3;
  marker-end: url(#end);
}

.links line:hover {
    stroke-width: 8;
    cursor: pointer;
}

#sidebar {
    /*background-color: red;*/
    flex: 1 0 0;
    max-height: 1000px;
    overflow: scroll;
}

.hyper {
    color: #5cb89a; /* Paris Review color scheme :) */
    cursor: pointer;
}

.hyper:hover {
    font-weight:bolder;
}

#focus-image {
    max-height: 150px;
    max-width: 150px;
}

#other-image {
    max-height: 150px;
    max-width: 150px;
}

h1 {
    font-weight: normal;
    text-align: center;
}

/* Colors from colorbrewer */

.links line.focus-influencee {
    stroke: #e41a1c;
}

.links line.focus-influencer {
    stroke: #377eb8;
}

.links line.focus-both {
    stroke: #beaed4;
}

.links line.current-link {
    stroke-width: 10;
    marker-end: url(#small-end);
}

.focus text {
    font-weight: bolder;
    font-variant: small-caps;
}

.type-fiction text {
    fill: #1b9e77;
}

.type-poetry text {
    fill: #d95f02;
}

.type-other text {
    fill: #7570b3;
}

#viz svg .current-focus text {
    font-size: 2em;
}

#viz svg .current-other text {
    font-size: 1.5em;
}

.nodes g {
    text-anchor: middle;
}

.paris-link {
    display: block;
    font-size: 2em;
